{{md-input type="text" label='Descripcion' class="col s6" validate=true value=concepto.descripcion}}
{{md-input type="text" label='Cantidad' class="col s6" validate=true value=concepto.cantidad}}
{{md-input type="date" label='Precio' class="col s12" validate=true value=concepto.precio}}
<p>Importe: {{concepto.importe}}</p>
{{md-input type="text" label='Descuento' class="col s12" validate=true value=concepto.descuento}}
<p>Total: {{concepto.total}}</p>



